version: '3.2'

services:

  solr:
    image: vivoweb/vivo-solr:latest
    container_name: solr
    environment:
      - RESET_CORE=${RESET_CORE}
      - VERBOSE=${VERBOSE}
    ports:
      - 8983:8983
    networks:
      - vivo-net
      
  tomcat:
    container_name: vivo
    hostname: vivo
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        - VIVO_DIR=/usr/local/vivo/home
        - TDB_FILE_MODE=direct
        - SOLR_URL=http://solr:8983/solr/vivocore
    environment:
      - RESET_HOME=${RESET_HOME}
      - VERBOSE=${VERBOSE}
    ports:
      - 8080:8080
    volumes:
      - ${LOCAL_VIVO_HOME}:/usr/local/vivo/home
    networks:
      - vivo-net
    depends_on:
       - solr

networks:
  vivo-net:
