/*************************************************
 vivo-basic theme: entity page styles
 
 This document is included by EntityController
 
 Original version
 2009-05-05 mw542
**************************************************/

/* $This file is distributed under the terms of the license in /doc/license.txt$ */