/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/*************************************************
 vivo-basic theme: editing form styles
 
 This document is included by formPrefix.jsp
 
**************************************************/

form {
    padding-bottom: 20px;
}
.form p {
    margin-bottom:0.5em;
}
form textarea {
    width: 60%;
}
form a:link.cancel, form a:visited.cancel {
    color: #f70;
    border-color: #f70;
}
form a:hover.cancel {
    color: #fff;
    background: #f70;
}
form select option{
    padding-right: 5px;
}
form dl {
    margin-bottom: 20px;
}
form dl dt, form dl dd {
    padding-top: 15px;
}
.validationError {
  font-weight:bold;
  color:red;
}
.inlineForm input {
  display:inline;
}
.inlineForm label {
  display:inline;
}
p.submit {
  clear: left;
  margin-top: 2em;
}
