/****************************************
 vivo-basic theme: institutional identity
 
 Original version
 2009-01-27 nac26
*****************************************/

/* $This file is distributed under the terms of the license in /doc/license.txt$ */


/**********************************************************************************
 Add styles for institutional identity here.
 Be sure to place all of your content in <div id="institution"> found in themes/vivo-basic/jsp/identity.jsp on line 77.
 
 See our online documentation for more info:
 http://vivoweb.org/support/user-guide/theme-modifications
**********************************************************************************/


/****************
Institution
****************/
div#institution { position: relative; }