/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/*************************************************

 vivo-basic theme: search results styles
 
**************************************************/

.searchTOC {
    margin-bottom: 1.5em;
}

.searchhits li {
    margin-top: 1em;
}

.searchpages {
    margin-top: 2em;
}

.searchpages a, .searchpages span {
    margin-left: .5em;
    margin-right: .5em;
}

.searchpages a:link, .searchpages a:visited {
    text-decoration: none;
}

.searchpages a:hover, .searchpages a:active {
    text-decoration: underline;
}

.searchpages a.prev {
    margin-right: 1em;
    text-decoration: underline;
}

.searchpages a.next {
    margin-left: 1em;
    text-decoration: underline;
}
 
