/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* styles for uploading a picture */
#photoUploadContainer{
	margin-left: 0px;
	width:500px;
	height:280px;
	background:#fff;
	padding:15px;

	
}

#photoUploadDefaultImageContainer{
	
	width:120px;
	float:left;

	
}

#photoUploadDefaultImageContainer img{
	
	border:3px solid #CCC;
	margin-bottom:10px;
	
}

#photoUploadForm{
	width:280px;
	float:left;
	padding-top:90px;
	padding-left:15px;
	
}

#photoUploadForm form label{
	display:block;
	padding-bottom:10px;

	
}

#photoUploadForm  label span{
	font-size:0.7em;

	
}

#photoUploadForm form input{
	margin-bottom:10px;

	
}


/* styles for cropping a picture */

#photoCroppingContainer{
	margin-left: 0px;
	width:700px;
	height:450px;
	background:#fff;

	padding:15px;
	
	
}

#photoCroppingPreview{
	width:180px;
	float:left;

}


.photoCroppingNote{
	margin-top:15px;
	font-size:0.8em;
}

#photoCropping{
	width:500px;
	float:right;
	padding-top:30px;
	padding-left:15px;

	
}


/* styles for deleting a picture */

#photoDeletingContainer{
	margin-left: 0px;
	width:500px;
	height:330px;
	background:#fff;
	border:1px solid grey;
	padding:15px;
	
}
/* styles for error alerts */
#errorAlert{
	width:500px;
	background-color:#900;
	color:#FFF;
	padding:1em;
	margin-bottom: 15px;
	font-family: Helvetica, sans-serif,Arial;
	font-size: 1em;
	line-height:1.2em;
	
}


/*#errorAlert img{
	float:left;
	margin:0;
	padding:0;
	vertical-align:middle;
	
}

#errorAlert  p{
	/*padding-left:40px;*/
	
}*/

a{
color:#FF7700; 
}

a.cancelUpload:link,  a.cancelUpload:visited {
color:#FF7700; 
}

a.cancelUpload:hover {
color:#FFF;
background-color:#FF7700;
}

a.cancelUpload:active {
color:#FF7700;
}

