.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x)); */
  }
  .row > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    /* padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5); */
    /* margin-top: var(--bs-gutter-y); */
  }

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}


@media (min-width: 768px) {
    .col-md {
      flex: 1 0 0%;
    }
  
    .col-md-auto {
      flex: 0 0 auto;
      width: auto;
    }
  
    .col-md-1 {
      flex: 0 0 auto;
      width: 8.33333333%;
    }
  
    .col-md-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }
  
    .col-md-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-md-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    .col-md-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
  
    .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-md-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
  
    .col-md-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  
    .col-md-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    .col-md-10 {
      flex: 0 0 auto;
      width: 83.33333333%;
    }
  
    .col-md-11 {
      flex: 0 0 auto;
      width: 91.66666667%;
    }
  
    .col-md-12 {
      flex: 0 0 auto;
      width: 100%;
    }
}