#!/bin/bash 

###################################################################
# Script Name   : env.sh
# Description   : setup global variables
# Args          : 
# Author       	: Michel Héon PhD
# Institution   : Université du Québec à Montréal
# Copyright     : Université du Québec à Montréal (c) 2021
# Email         : heon.michel@uqam.ca
###################################################################

export SCRIPT_HOME="$( cd "$( dirname "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"
export USERNAME=YOUR_ROOT_VIVO_LOGIN # the root user defined in runtime.properties
export PASSWD=YOUR_ROOT_VIVO_PASSWORD # the root password defined in runtime.properties
