/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/*************************************************
 vivo-basic theme: visualization styles
**************************************************/

span.incomplete-data-holder,
#incomplete-data {
  padding: 3px;
  font-size: 0.8em;
  color: #444;
  border: dotted 1px #eee;
  background-color: #ffb;
}

#incomplete-data {
  margin-top: 1.6em;
  font-size: 1.0em;
}