/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/****************************************
 vivo-basic theme: screen styles
 
 Original version
 2009-04-30 mw542
*****************************************/

@import url("blueprint/reset.css");
@import url("blueprint/forms.css");
@import url("blueprint/typography.css");
@import url("blueprint/liquid.css");
@import url("blueprint/ie.css");
@import url("institution.css");
@import url("individual.css");

body {
  position: relative;
  background: #596673;
/*  background: #737373;*/
  padding: 0 4em;
}

#wrap { background: #fff; }

#contentwrap {
  padding: 24px 20px;
  background: #D9D9D9;
}

#content {
  padding: 16px 12px;
  background: #fff;
  font-size: 108.33%; /* bumping up content text from 12px to 13px */
  min-height:350px;
  margin: 0 auto;
}

#footer {
  color: #e5e5e5;
  background: #3d454e;
/*  background: #4e4e4e;*/
  padding: 16px 20px 40px 20px;
  text-align: right;
  clear: both;
}

#research_instance {
	background-color:red;
	color:white;
	font-size:1.25em;
	font-weight:bold;
	text-align:center;
}

#research_instance a {
	color:white;
}
	
/****************
Global classes
****************/

ul.clean { margin-left: 0; }
ul.clean li { list-style-type: none; }


/****************
Identity
****************/

div#identity { position: relative; }

#identity h1 {
/*  position: absolute;
  top: 33px;
  left: 10px;*/
  padding-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 361px;
  height: 55px;
  text-indent: -9999px;
  background: url(../site_icons/vivo-logo.jpg) bottom left no-repeat;

}

#identity h1 a {
  width: 361px;
  height: 55px;
  display: block;
  overflow: hidden; /* hide the extended outline in firefox */
/*  background: url(images/layout/transparent.gif) top left no-repeat;*/
  /* for some reason IE7 needs a background to make this link clickable */
}

#identity em {
  position: absolute;
  top: 32px;
  left: 167px;
  color: #212d35;
  font-style: normal;
  font-size: 1.17em;
}

ul#otherMenu {
  position: absolute;
  margin: 0;
  top: 3px;
  right: 20px;
}

ul#otherMenu li {
  display: inline;
  margin-left: 4px;
}

ul#otherMenu li {
  padding-right: 4px;
  border-right: 1px solid #ccc;
}

ul#otherMenu li.last {
  padding-right: 0;
  border-right: none;
}


/************************
Navigation and Search
************************/

div#navAndSearch {
  position: relative;
  background: #212d34;
/*  background: #7d8b99;*/
  border-top: 3px solid #3d454e;
/*  border-top: 3px solid #4e4e4e;*/
  padding-left: 20px;
/*  padding-right: 300px;*/
  padding-right: 22em;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 1%;
}

div#secondaryTabMenu { display: none; }

select#search-form-modifier,
#searchForm label { display: none; }

div#searchBlock {
  height: 100%;
  text-align: right;
  padding: 0 20px 0 20px !important; /* fix for IE6 */
  padding: 10px 20px;
  position: absolute;
  top: 0;
  right: 0;
  background: #3d454e;
/*  background: #4e4e4e;*/
}

#searchForm { margin-top: 10px; }

#navAndSearch ul {
  margin: 0;
  padding: 0;
}

#navAndSearch li {
  list-style-type: none;
  margin: 1px;
}

#navAndSearch li a {
  display: block;
  color: #fff;
  text-decoration: none;
}

#navAndSearch li a:hover {
  color: #000;
  background: #fff;
}

#navAndSearch li a.activePrimaryTab,
#navAndSearch li a.activeTab {
  color: #000;
  background: #fff;
  font-weight: bold;
}

ul#primary,
ul#primary li,
ul#index,
ul#index li {
  float:left;
}

ul#primary li a,
ul#index li a { padding: 5px 12px; }


div#breadcrumbs {
  color: #aaa;
  clear: left;
  background: #D9D9D9;
  padding: 16px 20px 0 20px;
  margin-bottom: -18px;
  display: none;
}

div#breadcrumbs a { color: #888; }

div#breadcrumbs a:hover { color: #000; }


/************************
Individual Pages
************************/

div#labelAndMoniker { margin-bottom: 1.5em; }


#labelAndMoniker div {
    display: inline;
}

#label h2,
#label h3 {
  display: inline;
  padding-right: 6px;
  font-size: 1.7em;
}

em.moniker { 
    color: #9c9c9c; 
}

ul.externalLinks { margin: 0 0 1.5em 0; }

ul.externalLinks li {
  list-style-type: none;
  display: inline;
  padding-right: .5em;
  padding-left: .8em;
  border-left: 1px solid #ddd;
}

ul.externalLinks li.primary,
ul.externalLinks li.first {
  padding-left: 0;
  border: 0;
}

ul.externalLinks a { color: #84a655; } /* green links */ 

ul.externalLinks a:hover,
ul.externalLinks a:active,
a.externalLink:hover,
a.externalLink:active {
  color: #000;
}

a.externalLink { color: #84a655; }

div.description { margin-bottom: 1.5em; }

.propertyName,
.propsItem h4 {
  font-size: 0.8em;
  line-height: 1em;
  color: #666;
  background: #ebebeb;
  border-right: 1px solid #fff;
  margin-left: -12px;
/*  margin-bottom: .75em;*/
  padding: 4px 12px;
  float: left;
  /* Fixes in IE6 the cut off text for data and object property names for individual display property groups. */
  *padding-left:24px !important;
}

.propsItem,
.datatypeProperties,
.properties {
  clear: left;
}

.propsItem { padding: 1em 0; }

.propsItem a { font-weight: bold; }

.pageGroupBody {
    margin-bottom: 1em;
}

#acknowledgementText {
    font-size: 90%;
}


/************************
Search Results
************************/

.contentsBrowseGroup h2 {
  margin-top: 2em;
  padding-bottom: .25em;
  border-bottom: 1px solid #eee;
}

.contentsBrowseGroup h3 {
  color: #666666;
  font-size: 1em;
  margin-bottom: 0;
}

.contentsBrowseGroup ul { margin-left: 0; }

.contentsBrowseGroup li {
  list-style-type: none;
  color: #9C9C9C;
}

.searchTOC a {
  font-weight: bold;
  padding-left: 3px;
}


/************************
Tabs
************************/

ul.tabEntities {
  color: #9c9c9c;
  margin: 1em 0;
  font-size: 0.8em;
}

ul.tabEntities li {
  margin-bottom: 1em;
  list-style-type: none;
}

ul.tabEntities a { font-weight: bold; }

ul.tabEntities a.externalLink, 
.individualList a.externalLink {
  text-decoration: none;
  font-weight: normal;
}

.individualList ul.individualData {
    display: inline;
}

.individualList ul.individualData li {
    display: inline;
    border-right: solid 1px #a0a0a0;
    padding-right: .3em;
padding-bottom:1.2em;

}

.individualList ul.individualData li.last {
    border: none;
}

div.blurb { color: #999; }

div.blurb a { font-weight: normal; }

/* Index and List pages */
.siteMap ul,
.individualList ul { margin-left: 0; }

.siteMap li { 
  list-style-type: none; 
  color: #9c9c9c;
}

.individualList li { 
  list-style-type: none;
  color: #9c9c9c;
  margin-bottom: .5em;
 }
 
.siteMap li a,
.individualList li a { 
	font-weight: normal; 
	}
 
.siteMap h2 { 
	margin-top: 10px; 
	font-weight:bold;
	color:#2485AE;
	}

div.tab h2 {
  margin: 0 -12px;
  padding: 0 12px 2px 12px;

}

.tab h3 {
  color: #999;
  margin-top: 1em;
  padding-bottom: 3px;
}

.tab h3 a { color: #1b4f89; }

.tab h3 a:hover { color: #000; }

.tab th, .tab td, .tab caption { padding-left: 0; }

.tabBody { padding: 2px 0; }

.tabDesc { padding-top: 16px; }

/************************
Footer
************************/

#footer a {
  color: #fff;
  font-weight: bold;
}

img.footerLogo { float: left; }

ul.otherNav { margin: 0; }

ul.otherNav li {
  display: inline;
  padding: 0 6px;
  border-right: 1px solid #aaa;
}

ul.otherNav li.last {
  border: 0;
  padding-right: 0;
}


/******************************************************************
ENTITY LIST TOGGLES
(The little plus/minus toggles that show additional items)

These controls are set up to use JavaScript but degrade to use 
CSS :hover classes -- JavaScript can be found in controls.js

IE6 does not support :hover so it will see everything 
(hack is in ie.css)
******************************************************************/

span.entityMoreSpan {
  display: block;
  font-style: italic;
  background: url(../site_icons/plus.gif) left center no-repeat;
  padding-left: 14px;
  margin: .5em 0;
  line-height: 1em;  
  cursor: pointer;
}

div.navlinkblock:hover span.entityMoreSpan,
div.navlinkblock-collapsed:hover span.entityMoreSpan,
span.entityMoreSpan:hover {
  color: #8C65A1;
}

div.navlinkblock:hover span.entityMoreSpan,
div.navlinkblock-expanded span.entityMoreSpan {
  background: url(../site_icons/minus.gif) left center no-repeat;
}


div.navlinkblock:hover div.extraEntities,
div.navlinkblock-expanded div.extraEntities {
  display: block;
}

div.extraEntities {
  display: none;
}


/********************************
Frontend Edit Controls and Forms
********************************/

div.editingForm { background: none; }

div.editingForm hr { display: none; }

a.add {
  float: left;
  line-height: 1em;
  width: 1em;
  height: 1em;
  padding: 4px;
  background: #ebebeb url(../../../images/transition/individual/plus_transparent.gif) center center no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

a.add:hover {
  background-image: url(../../../images/transition/individual/plus_transparent_hover.gif);
  background-color: #576772; 
}

ul.properties { margin: 0; }

ul.properties li {
  color: #9c9c9c;
  list-style-type: none;
}

div.datatypePropertyValue,
ul.properties li,
ul.datatypePropertyValue li { 
  position: relative;
  font-size: 0.7em; 
}


span.editLinks,
em.nonEditable { 
  display: none; 
}

span.editLinks a,
em.nonEditable { font-size: 84.62%; } /* 13px down to 11px */

span.editLinks a {
  color: #da8622;
  font-weight: normal;
}

span.editLinks a:hover { color: #000; }

span.editLinks a.edit { padding-right: 4px; }

.statementWrap:hover span.editLinks,
.statementWrap:hover em.nonEditable {
  display: block;
  width: 6em;
  padding: 2px 0 4px 0;
  position: absolute;
  top: -2px;
  left: -6em;
  line-height: 1.5em;
  background: #fff;
  z-index: 10;
  text-align: center;
}



span.statementWrap:hover em.nonEditable {
  padding-top: 5px;
  width: 8em;
  left: -8em;
  font-style: normal;
}

.verbosePropertyListing {
    color: gray;
    font-size: 0.75em;
    margin-left: 1em;
}

#dprop-vitro-links.editing li {
    display: block;
    border: 0;
    padding: 0;
    margin-bottom: .5em;
}

/************************
Backend forms
************************/

div.sparqlform label {
  font-weight: normal;
  display: inline;
}

em.note {
  font-size: 0.92em;
  color: #777;
}

h3.associate {
  margin-bottom: 0;
  text-align: left;
}

/************************
Upload Images
************************/

div.thumbnail img,
div#thumbnail img { 
    border:3px solid #d5d5d5;
}

/************************
Miscellaneous
************************/

.clear{
clear:both;
}

.hidden{
display:none !important;
}


/************************
style for those with javascript disable
************************/

#javascriptDisableWrapper, ie67DisableWrapper{
margin-top:15px;
width:500px;
height:300px;
}

#javascriptDisableContent, #ie67DisableContent{
width:500px;
height:100px;
border:3px solid #bee6f8;
}
#ie67DisableContent{
width:80%;
margin-bottom:200px;
}
#javascriptDisableContent img, #ie67DisableContent img{
float:left;
margin-top:36px;
margin-left:30px;
}

#javascriptDisableContent p, #ie67DisableContent p{
font-size:1.1em;
color:#384c5d;	
line-height:100px;
padding-left:65px;
}
#ie67DisableContent p{
line-height:normal;
padding-top:36px;
}


/* styles for error alerts */

#errorAlert{
	color:#900;
	padding:0px;
	margin-bottom:5px;
	height:30px;
	
}


#errorAlert img{
	float:left;
	margin:0;
	padding:0;

	
	
}

#errorAlert  p{
padding-left:40px;
font-size:0.9em;


}

/* styles for contact us page */

.contactUsReturnHome{
margin-top:30px;
margin-bottom:250px;
}




/*--*/
h2{
	font-weight:bold;
}
p{
	line-height:1.3em;
	padding-bottom:10px;
}