/* $This file is distributed under the terms of the license in /doc/license.txt$ */
/*=============================================================================================
 If you are using LESS, you can change the colours used in the bootstrap theme here so that you don't need to edit the CSS templates.
 ============================================================================================ */
/* Colour of the header */
/* Color of footer */
/* Complimentary to the base, used in section backgrounds on the homepage */
/* Color of system name - "Find an expert" */
/* Link colors */
/*======================================= 
Homepage colours 
=========================================*/
/* The colours of the large icons beneath the search on the homepage */
/* About our data section */
/* styles for geographic focus maps on home page */
div#mapControls {
  margin: -26px 26px 0 0;
  float: right;
}
div#mapControls a {
  font-size: 1.05em;
}
a.selected {
  color: #555;
  text-decoration: none;
}
#researcherTotal {
  margin: 15px 0 30px 0;
}
.mapArea {
  height: 600px;
  width: 960px;
  margin: auto;
  box-shadow: 2px 1px 5px #ababab;
  border-radius: 3px;
  border: 6px solid #222222;
}
.divIconCount {
  border: none;
  color: #777;
  font-size: 0.75em;
  text-align: center;
}
.divIconCountPlus {
  border: none;
  color: #777;
  font-size: 0.75em;
  text-align: center;
  padding-left: -10px;
}
.leaflet-popup-tip-container {
  display: none !important;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: none repeat scroll 0 0 white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
.leaflet-popup-content-wrapper {
  border-radius: 10px 10px 10px 10px;
  padding: 1px;
  text-align: center;
  width: 170px;
  margin-top: -60px;
}
.leaflet-popup-content {
  line-height: 1.4;
  margin: 8px 8px;
}
