/* $This file is distributed under the terms of the license in /doc/license.txt$ */

@charset "UTF-8";
/* CSS Document */

/* SEARCH ------>  */
				
#search {
	position:absolute;
	width:396px;
	height:38px;
	top:40px;
	right:10px;
}
#search-field {
	width:396px;
	height:38px;
	background:url(../images/search-interior-pages.png) 0 0 no-repeat;
}
input.search-vivo {
	float:left;
	width:290px;
	height:25px;
	border:0;
	font-size:16px;
	color: #5e6363;
	margin-left:10px;
	margin-top:5px;
}
#search a.submit {
	float:right;
	display:block;
	width:70px;
	height:25px;
	font-size:14px;
	color:#fff;
	padding-top:10px;
	padding-left:15px;
}

#search-form-modifier{
	display:none;
}
/* <------ SEARCH */

/* VISUAL GRAPH FOAF:PERSON------>  */


#intro-topLevel {
	clear:both;
	width:920px;
	margin:0 auto;
	background:#fff;
	padding-top:30px;
	margin-bottom:30px;
}
#intro-topLevel h3 {
	padding: 0 25px 15px 0;
	font-size: 24px;
	color:#002b44;
	font-weight:normal;
	border-bottom:1px solid #f3f3f4;
	padding-bottom:20px;
}
#content-foaf-person {
	float:left;
	width:620px;
	border-right:1px solid #e8ece9;
	margin-bottom:30px;
}
#content-foaf-person h4 {
	padding: 20px 25px 12px 0;
	font-size: 20px;
	color: #2485ae;
	font-weight:normal;
	background:url(../images/arrow-down.gif) 117px 27px no-repeat;
}
ul#foaf-person-childClasses {
	float:left;
	width:265px;
	margin-left:45px;
}
ul#foaf-person-childClasses li {
	display:block;
	border-bottom:1px solid #dde4e3;
	font-size:16px;
	height:35px;
	line-height:35px;
}
ul#foaf-person-childClasses li:last-child {
	border-bottom:0;
}
ul#foaf-person-childClasses a {
	display:block;
	padding-left:15px;
	width:265px;
	height:35px;
	color:#5e6363;
	text-decoration:none;
}
ul#foaf-person-childClasses a:hover {
	background:url(../images/arrow.gif) 0 12px no-repeat;
	color:#2ea0cf;
}
ul#foaf-person-childClasses a.selected {
	color:#2ea0cf;
	background:url(../images/arrow.gif) 0 12px no-repeat;
}
ul#foaf-person-childClasses .count-classes {
	font-size:12px;
}
#foaf-person-graph {
	float:right;
	width:270px;
	height:270px;
}
/* <------ VISUAL GRAPH FOAF:PERSON */




/* VISUAL GRAPH CLASS:GENERIC (ORGANIZATION, RESEARCH, EVENT) ------>  */

#content-generic-class {
	float:left;
	width:900px;
	margin-bottom:30px;
}
#content-generic-class h3 {
	padding: 0 25px 15px 0;
	font-size: 24px;
	color:#002b44;
	font-weight:normal;
	border-bottom:1px solid #f3f3f4;
}
#content-generic-class h4 {
	padding: 20px 25px 12px 0;
	font-size: 20px;
	color: #2485ae;
	font-weight:normal;
	background:url(../images/arrow-down.gif) 117px 27px no-repeat;
}
ul#class-generic-childClasses {
	float:left;
	width:265px;
	margin-left:35px;
}
ul#class-generic-childClasses li {
	display:block;
	border-bottom:1px solid #dde4e3;
	font-size:16px;
	height:35px;
	line-height:35px;
}
ul#class-generic-childClasses li:last-child {
	border-bottom:0;
}
ul#class-generic-childClasses a {
	display:block;
	padding-left:15px;
	width:265px;
	height:35px;
	color:#5e6363;
	text-decoration:none;
}
ul#class-generic-childClasses a:hover {
	background:url(../images/arrow.gif) 0 12px no-repeat;
	color:#2ea0cf;
}
ul#class-generic-childClasses a.selected {
	color:#2ea0cf;
	background:url(../images/arrow.gif) 0 12px no-repeat;
}
ul#class-generic-childClasses .count-classes {
	font-size:12px;
}
#generic-class-graph {
	float:right;
	width:500px;
	height:283px;
	padding-right:20px;
	border:1px dotted #CCC;
}
/* <------ VISUAL GRAPH  CLASS:GENERIC (ORGANIZATION, RESEARCH, EVENT) */











/* FIND BY ------>  */
#find-by {
	width:275px;
	border:1 solid green;
	float:right;
	margin-top:20px;
}
#find-by h3 {
	padding: 0 25px 12px 12px;
	font-size: 18px;
	color: #2485ae;
	font-weight:normal;
	background:url(../images/arrow-down.gif) 85px 7px no-repeat;
	border-bottom:0;
}
ul#find-filters {
	float:left;
	width:265px;
}
ul#find-filters li {
	display:block;
	border-bottom:1px solid #dde4e3;
	font-size:16px;
	height:35px;
	line-height:35px;
}
ul#find-filters li:last-child {
	border-bottom:0;
}
ul#find-filters a {
	display:block;
	padding-left:15px;
	width:265px;
	height:35px;
	color:#5e6363;
	text-decoration:none;
}
ul#find-filters a:hover {
	background:url(../images/arrow.gif) 0 12px no-repeat;
	color:#2ea0cf;
}
ul#find-filters a.selected {
	color:#2ea0cf;
	background:url(../images/arrow.gif) 0 12px no-repeat;
}
/* <------ FIND BY */
		
/* NETWORK STATS ------>  */
		
#network-stats {
	clear:both;
	width:920px;
	margin:0 auto;
	height:67px;
	background:#f7f9f9;
	border:1px solid #d7e6e6;
	margin-bottom:30px;
}
#network-stats h3 {
	float:left;
	width: 150px;
	padding: 20px 12px 10px 12px;
	font-size: 20px;
	color: #2485ae;
	font-weight:normal;
	background:url(../images/arrow.gif) 140px 27px no-repeat;
}
#network-stats p {
	padding:15px 15px 15px 175px;
	font-size: 14px;
	line-height: 1.5em;
	color:#5e6363;
}
/* <------ NETWORK STATS */
		
/* RESEARCHERS ------>  */
		
#researchers {
	clear:both;
	width:920px;
	height:229px;
	margin:0 auto;
	background:#f7f9f9;
	border:1px solid #d7e6e6;
	margin-top:30px;
}
#researchers h3 {
	float:left;
	width: 150px;
	padding: 20px 12px 10px 12px;
	font-size: 20px;
	color: #2485ae;
	font-weight:normal;
	background:url(../images/arrow.gif) 140px 27px no-repeat;
}
#researchers p {
	padding:17px 15px 15px 175px;
	font-size: 18px;
	line-height: 1.5em;
	color:#5e6363;
}
#researchers-slider {
	clead:both;
	margin:0 auto;
	width:887px;
	height:115px;
	border:1px solid #e8e8e8;
	background:#fff;
}
#alpha-display {
	width:100px;
	height:115px;
	font-size:70px;
	line-height:115px;
	text-align:center;
	float:left;
	color:#2485ae;
	border-right:1px dotted #dde4e3;
	margin-right:10px;
	font-weight:bold;
}
#profile-photo-display {
	width:600px;
	height:115px;
	float:left;
}
#profile-photo-display ul {
	display:block;
}
#profile-photo-display li {
	display:block;
	width:90px;
	float:left;
	padding-right:10px;
	padding-top:10px;
}
#profile-photo-display img {
	border:1px solid #dde4e3;
}
#nav-display {
	width:100px;
	height:70px;
	margin-top:30px;
	margin-right:20px;
	float:right;
}
#nav-display p {
	float:left;
	padding:0;
	padding-top:7px;
	width:30px;
	font-size:26px;
	color:#2485ae;
}
#nav-display img {
	display:block;
	float:right;
	padding-left:15px;
	border-left:1px solid #e8e8e8;
}
/* <------ RESEARCHERS */

/* BROWSE BY ------>  */
#browse-by {
	clear:both;
	width:920px;
	margin:0 auto;
	margin-top:40px;
	border:1px solid #dfe6e6;
	background:#f7f9f9;
	overflow: hidden;
}
#browse-by h2 {
	background:#5e6363;
	width:102px;
	height:44px;
	line-height:44px;
	font-soze:22px;
	padding-left:15px;
	color:#fff;
	margin-bottom:27px;
}
/* BROWSE CLASSES ------>  */
				ul#browse-childClasses {
	float:left;
	width:284px;
	border:1px solid #dde4e3;
	border-right:0;
	margin-left:30px;
	background-color:#f1f2ee;
}
ul#browse-childClasses li {
	display:block;
	width:264px;
	border-bottom:1px solid #dde4e3;
	font-size:16px;
	height:35px;
	line-height:35px;
	margin-left:10px;
	margin-right:10px;
}
ul#browse-childClassesli:last-child {
	border-bottom:0;
}
ul#browse-childClasses a {
	display:block;
	padding-left:20px;
	width:264px;
	height:35px;
	color:#5e6363;
	text-decoration:none;
}
ul#browse-childClasses a:hover {
	background:url(../images/arrow.gif) 0 12px no-repeat;
	color:#2ea0cf;
}
ul#browse-childClasses a.selected {
	color:#2ea0cf;
	background:url(../images/arrow.gif) 0 12px no-repeat;
}
ul#browse-childClasses .count-classes {
	font-size:12px;
}
/* <------ BROWSE CLASSES */


				/* ALPHA BROWSE------>  */
				
				#alpha-browse-childClass {
	float:left;
	width:77px;
	border:1px solid #dde4e3;
	border-right:0;
}
ul#alpha-browse-childClass {
	background-color:#fff;
	border-left:1px solid #dde4e3;
}
ul#alpha-browse-childClass li {
	display:block;
	width:67px;
	font-size:18px;
	height:35px;
	line-height:35px;
}
ul#alpha-browse-childClass li:last-child {
	border-bottom:0;
}
ul#alpha-browse-childClass a {
	display:block;
	width:57px;
	height:35px;
	color:#5e6363;
	text-decoration:none;
	text-align:center;
	margin-left:5px;
	padding-left:10px;
	border-bottom:1px solid #dde4e3;
}
ul#alpha-browse-childClass a:hover {
	background:url(../images/arrow.gif) 0 12px no-repeat;
	color:#2ea0cf;
}
ul#alpha-browse-childClass a.selected {
	color:#2ea0cf;
	background:url(../images/arrow.gif) 0 12px no-repeat;
}
ul#alpha-browse-childClass .count-classes {
	font-size:12px;
}
/* <------ ALPHA BROWSE */
				
				
				/* BROWSE INDIVIDUALS------>  */
				
				#individuals-in-childClass {
	float:left;
	width:500px;
	border:1px solid #dde4e3;
	padding-bottom:30px;
	margin-bottom:30px;
	background-color:#fff;
}
#individuals-in-childClass h3 {
	font-size:27px;
	color:#2485ae;
	padding: 10px 0 10px 30px;
}
article.individual-foaf-person {
	width:440px;
	padding-botom:30px;
	border-bottom:1px solid #dde4e3;
	padding-top:20px;
	margin-left:30px;
	margin-right:30px;
}
article.individual-foaf-person img {
	float:left;
	border:2px solid #dde4e3;
}
article.individual-foaf-person h1 {
	padding: 30px 0 30px 110px;
	color:#5e6363;
	line-height:1.2em;
	font-size:16px;
	font-weight:normal;
}
article.individual {
	width:440px;
	margin-left:30px;
	margin-right:30px;
	border-bottom:1px solid #dde4e3;
}
article.individual h1 {
	margin:0;
	paddin:0;
	color:#5e6363;
	line-height:1.2em;
	padding-bottom:20px;
	padding-top:20px;
	font-size:16px;
	font-weight:normal;
}


			/* <------ BROWSE INDIVIDUALS */
			
			
/* <------ BROWSE BY */
