#this is an example of what needs to be in this 
#file to setup the lucene index directory
#
# The default location is /usr/local/lucene/vitrodefault

#You could hard code the location like this:
#LuceneSetup.indexDir=/usr/local/lucene/example

#this line will be setup by ant to work for clones
#if you hardcode the dir, this line should be commented out
LuceneSetup.indexDir=${deploy.LuceneSetup.indexDir}
