/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/*************************************************
 vivo-basic theme: tab styles
 (from original Vitro theme)
 
 This version
 2006-06-20 bjl23
 
 Original version
 2006-01-05 bdc34
**************************************************/

/************ header ******************/

#contents h2 {
	background-color: rgb(197,197,163);
	color:inherit;
	font-weight:600;
	padding-left:0.3em;
	padding-top:0.5ex;
	padding-bottom:0.5ex;
	margin-top:0ex;
	margin-left:0em;
	margin-right:0em;
}

.tab.depth1 table {	
	table-layout:fixed; 
}

.tab.depth2 h3 {
	background-color: #F1F1D1;
	color:inherit;
	font-size:1em;
	line-height:2ex;
	font-weight: normal;
   	padding: 0.6ex 0.45em 0.6ex 0.45em;
	margin-right:0;
	margin-left:0;
	margin-top:1.5ex;
	margin-bottom:1.5ex;
}

.tab.depth2 table {
	table-layout:fixed;
}

.tab.depth3 h4{	
	font-weight: normal;
	margin:0;
   	padding: 0.6ex 0.45em 0.6ex 0.45em;
}

.tabBody {
	margin-left:0.45em;
	margin-right:0.45em;
	/* font-size:0.9em;
	line-height:135%; */
}

.tabBody h4{
	font-weight:bold;
	text-align:center;
}

.tabBody table{
	table-layout:auto;
}

.tabBody img{
	margin-right:0.5em;
}

.tabBody form{
	margin-top:0.5ex;
	margin-bottom:0.5ex;
}

.tabBody p{
	margin-top:1.4ex;
	margin-bottom:1.4ex;
}

.tabEntities {
	font-size:0.9em;
}

ul.tabEntities.entityListForTab {
	padding-bottom:1ex;	
}

/******** table *******************/

#contents td{
	vertical-align: top;
	/* font-family: "Lucida Grande",Verdana,Lucida,Arial,Helvetica,sans-serif; */
	padding:0.2em;
}

.subtabs table{
	 width: 100%;
}

#tabContent table{
	width: 100%;
/*	table-layout:fixed; */
}

#tabContent td {
  padding:0.4em;
}

/******** vertical layout *****/

ul.tabSubAsList {
	list-style:disc;
	margin-left:1.7em;
	margin-top:0.5ex;
	margin-bottom:0.5ex;
	padding:0;
}

ul.tabSubAsList li{
	/* font-size:0.85em; */
	line-height:2.2ex;
	margin:0;
	padding:0;
}

.tabDesc{
	margin-left:0.45em;
	line-height:2.4ex;
}

.alphaIndex{
	margin-left:0.45em;
	margin-right:0.45em;
	margin-top:1em;
	margin-bottom:1em;
}

/** tab specific ***/
/* a style can be applied to a single tab based on its tabId */

#tabNN{
	color:rgb(200,0,0);
	background-color:rgb(0,200,200); 
}

/**************** tab entities ******************/

.tabEntities img {
	position:relative; left:-0.2em;
}

ul.tabEntities {
	margin-top:0.2em;
	margin-bottom:0.2em;
	margin-left:1.7em;
	padding:0;
	list-style-type:none;
}

.tabEntities li{
	padding: 0 0 0 0;
	margin-top:1em;
	margin-bottom:1em;
	list-style-type:none;
}
