.spacer{
	font-size:0; line-height:0; clear:both;}


/* ----------------- body start --------------------------- */
#body{
	width:900px; margin:0 auto; position:relative;
	background: white;
}
#bodyPannel{
	background: #FFFFFF;	
	width:765px;
	float:left;
	padding-top: 0;
	padding-right: 28px;
	padding-bottom: 0;
	padding-left: 28px;
}
#dataPanel div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
}
#dataPanel .italicize {
	font-style: italic;
}
#dataPanel .bold {
	font-weight: bold;
	color:#13968c;
	font-size: 14px;
}
#dataPanel .works .numbers {
	text-align: right;
	width: 40px;
	float:left;
}