/* $This file is distributed under the terms of the license in /doc/license.txt$ */

@import url("autocomplete.css"); 

/* Although Javascript hides these on page load, hide here as well to avoid the flash on page load.
   This needs to be removed to support a non-JS version of the form. */
.fullViewOnly, 
#submit, 
.or,
#requiredLegend {
    display: none;
}
form.customForm p.inline label {
    display: inline;
    clear: none;
    float: none;
    margin-right: 1em;
}
.verifyMatch {
    margin-left: .5em;
}
form.customForm h4 {
    margin-top: 1em;
    margin-bottom: .75em;
}
.acSelector[disabled="disabled"]{
    border-width: 0;
    background: none;
    color: #000;
}
.disabledSubmit {
    cursor: default ! important;
}
span.readOnly {
    color: #000;
}
/* special styles for addPublicationToPerson.ftl 
   volume, number, issue fields and start/end page fields */
label.vniLabels {
    padding-left: 50px;
}
input.vniInputs {
    margin-left: 57px;
}
label.sepLabels {
    padding-left: 31px;
}
input.sepInputs {
    margin-left: 57px;
}
