/* $This file is distributed under the terms of the license in /doc/license.txt$ */

#body {
    font: 0.9em Helvetica;
    background-color: #fff;
    min-height: 800px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#body,
#error-container,
span#copy-vis-viewlink {
    display: none;
}

#subject-parent-entity {
    display: none;
    font-size:.7em;
    color:#aaa;
    margin-left:10px;
}
#subject-parent-entity-spacer {
    color:#aaa;
    margin-left:-18px;
}

/*
This is for the overlay that happens when you change the parameter. Somehow the top
for the message is getting set to 50%, hence we need to override it here.
*/
.blockElement {
	top: 10px !important;	
}

.easy-deselect-label a.temporal-vis-url {
    float: right;
}

#people-organizations-filter {
	margin-bottom: 9px;
	display: none;
}

.filter-option {
	color: #2485AE;
	cursor: pointer;
	/*padding-right: 5px;*/
	text-decoration: underline;
}

.active-filter {
	color: #595B5B;
	text-decoration: none;
}

.filterInfoIcon {
	vertical-align:top;
	width:15px;
	margin-left: 9px;
}

.current-year-bar,
.known-bar {
    display: inline-block;
    cursor: help;
}

.current-year-bar {
    opacity: 0.5;
    filter:alpha(opacity=50);
}

.unknown-inner-bar {
    opacity: 0.5;
    filter:alpha(opacity=50);
    display: inline-block;
}

.bar-count-text {
    padding-right: 3px;
    vertical-align: super;
}

img.bar-count-icon {
    vertical-align: super;
    cursor: help;
}

.unknown-bar {
    background: url("../../../images/visualization/diagonal.png") repeat scroll 50% 50% #666666;
    cursor: help;
}

.legend-bar {
    margin-bottom: 3px;
    cursor:default;
}

.current-year-legend-bar {
    display: inline-block;
}

.unknown-legend-bar {
    background: url("../../../images/visualization/legend-unknown-bar-dark.png") repeat #B7B7B7;
}


#legend-current-year-bar-text,
#legend-known-bar-text,
#legend-unknown-bar-text {
    font-size: 0.75em;
}

img#copy-vis-viewlink-icon {
    cursor: pointer;
}

a.temporalGraphLinks {
    background-color: #2485AE;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    margin-top: 10px;
    padding: 4px 3px 3px;
    text-align: center;
    text-decoration: none;
    padding-bottom: 3px;
}
a.clear-selected-entities,
#legend-row-header a {
    background-color: #878787;
}
#paginated-table-footer {
    margin-top: 10px;
    text-align: left;
    height: 25px;
}
#loading-comparisons {
    font-size: 1.2em;
    font-weight: bold;
}
#loading-comparisons img {
    vertical-align: sub;
} 
#reset-search {
    color: #2485AE;
    cursor: pointer;
    margin-left: 10px;
}
#yaxislabel {
    font-size: 12px;
    float:right;
    background-color: white;
    color: #595B5B;
    display: block;
    height: 150px;
    text-align: center;
    margin-top: 50px;
    position: absolute !important;
}
#xaxislabel{
    font-size: 12px;
    margin-top: -5px;
    text-align: center;
}
#notification-container {
    position: inherit;
}
.disabled-checkbox-event-receiver {
    height: 21px;
    position: absolute;
    width: 21px;
    display:none;
}
#functions{
    margin-top: 20px;
    margin-bottom: -40px;   
}
#bar {
    height: 20px;
    float: left;
    background-color: #fff;
    width: 250px;
    margin-left: 10px;
}
#checkbox{
    float:left; 
}
.easy-deselect-label {
    float: left;
    font-size: 12px;
    width: 160px;
    text-align: left;
}
.easy-deselect-label a, 
#text {
    text-decoration: none;
    color: black;
    font-family: Helvetica;
    font-size: 1em;
}
.easy-deselect-label .entity-label {
    color: #f00;
}
.small-arrows {
    font-size: 0.9em;
    padding: 0 !important;
    text-decoration: none;
    vertical-align: top;
}
#header-entity-label {
font-family: "Lucida Sans Unicode","Lucida Grande", Geneva, helvetica,
sans-serif;
    font-size: 1.5275em;
    color: #2485ae;
    line-height: 1.3em;
    padding-top:15px;
    padding-bottom:10px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
}
.entity-label-url {
    width: 125px; 
    margin-left: 10px; 
    display: inline-block;
    text-decoration: underline;
    color: #2485AE;
}
.ellipsis.multiline {
    white-space: normal;
}
#searchresult {
    margin-top: 50px;
}
#graphContainer {
    margin-bottom: 15px;
    width: 450px; 
    height: 250px;
    margin-left: 23px;
}
#leftblock {
    float: left;
    width: 39%;
}
#text {
    margin-left: 5px;
}
#searchresult a {
    text-decoration: none;
    color: black;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: normal;
}
#rightblock {
    float:right;
    margin-right:3%;
    width:54%;
}
#counter,
#total {
    color: #f00;
}
#heading {
    margin-top: 10px;
}
#paginatedTable {
    margin-top: 0;
}
.sDomSearchBar {
    margin-bottom: -10px;
    margin-left: 41%;
}
.datatablerowhighlight {
    background-color: #ECFFB3 !important;
}
.datatablerowhighlight td {
    font-weight: bold !important;
}
#bottomButtons{
    width: 100%;
    float:right;
    margin: 20px 0 20px 0;
}
#stopwordsdiv{
    margin-top: 10px;
    margin-left: 10px;
}
p.displayCounter{
    padding-bottom: 4px;
    border-bottom: 1px solid gray;
}
#comparisonHeader,
#entityHeader, 
#entitylevelheading, 
#comparisonParameter, 
#headerText {
    color: #2485ae;
}
/* -------------------------------------------------------------->  */
/* SPECIAL STYLES FOR THE entityComparisonErrorCommonBody.ftl FILE  */
/* -------------------------------------------------------------->  */
#noPubsOrGrants-header {
    font-size: 1.375em;
    color: #2485ae;
    line-height: 1.3em;
    padding-top:15px;
    padding-bottom:10px;
}
#noPubsOrGrants-span  {
    font-size:22px;
}
#noPubsOrGrants-span a {
    color: #84a655;
    font-size:16px;
}