/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* -------------------------------------------------------------- 
   
   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms
   
   Usage:
   * For text fields, use class .title or .text
   
-------------------------------------------------------------- */



label       { font-weight: bold; display: block; margin-top: .5em; }
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }


/* Form fields
-------------------------------------------------------------- */

input.text, input.title,
textarea, select {
  margin:0 0;
  border:1px solid #bbb;
}

input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border:1px solid #666;
}

input.text, 
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
/*textarea      { width: 390px; height: 250px; padding:5px; }*/
textarea { width: 90%; }

input.button { margin: 1em 0; }

/* Success, notice and error boxes
-------------------------------------------------------------- */


/*.error,*/
.notice,
/*.warning, */
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; display: block; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.errorText  { color: #8a1f11; margin: 0; display: block; } /* errors that aren't displayed with a box */
.noticeText { color: #514721; margin: 0; display: block; }
.notice,
.warning    { background: #FFF6BF; color: #7F7034; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }


/* Comment Form */
form#contact_form .buttons {
    margin-top: 1em;
}

form#contact_form .buttons input {
    margin-right: .75em;
}