/* $This file is distributed under the terms of the license in /doc/license.txt$ */

.acSelection {
    display: none;
}

.acSelectionInfo {
    background-color: #d9d9d9;
    padding: .5em 1em;
}


/* jQuery UI autocomplete */
ul.ui-autocomplete {
    font-size: .95em;
}

li.ui-menu-item a.ui-corner-all {
    text-align: left;
    padding-left: .25em;
}