/* $This file is distributed under the terms of the license in /doc/license.txt$ */

#content form {
    width: 50%;
}

#content form div {
    clear: left;
}

#content form h6 {
    font-size: 110%;
}

#content form div#addNewLink {
    float: left;
    clear: none;
    margin-left: 5em;
    margin-top: .9em;
    width: 30%;
    padding: .6em 0 .6em 1.5em;
    border: 1px solid #9c9c9c;
    display: none; /* Hide if Javascript disabled. Javascript will show. */
}

#content form #existing {
    float: left;
    clear: none;
}

#existingOrNew {
    font-style: italic;
    margin-left: 1em;
}

#new {
    padding: .6em 0 .6em 1.5em;
    border: 1px solid #9c9c9c;
    width: 70%;
}


/* #content form p.inline span,*/
#content form p.inline input,
#content form p.inline label {
    float: left;
    clear: left;
}

#content form p.inline.year input {
    margin-top: -1.75em;
}

/*
#content form p.inline.year span.hint {
    margin-right: 38.5em;
    margin-top: -2.4em;
}
*/

input,
select, 
#content form p {
    margin-bottom: 1em;
}

option {
    padding: 0 2px;
}

#content form .hint {
    color: #9c9c9c;
    font-weight: normal;
}

#content form .requiredHint {
    color: #ff7700;
    font-weight: normal;
}

#content form #requiredLegend {
    font-style: italic;
}

#content form p.validationError {
    clear: both;
    margin-bottom: 1.25em;
}