/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* Some of these styles should most likely apply to all forms. */

#content form {
    width: 50%;
}

#content form div {
  clear: left;
}

#content form h6 {
    font-size: 110%;
}

#addNewLink {
    float: right;
    /* This right margin works pretty well for both the add and edit version of the form.
    Could customize for each of these versions later. */
    margin-right: 15em;
    margin-top: .8em;
    width: 30%;
    padding: .6em 0 .6em 1.5em;
    border: 1px solid #9c9c9c;
    display: none; /* Hide if Javascript disabled. Javascript will show. */
}

#content form #existing {
    float: left;
    clear: none;
    display: inline-block;
}

#new {
    padding: .6em 0 .6em 1.5em;
    border: 1px solid #9c9c9c;
    width: 70%;
}

/* #content form p.inline span,*/
#content form p.inline input {
    float: right;
    clear: right;
}

#content form p.inline.year input {
    margin-right: 46em;
    margin-top: -1.75em;
}

/*
#content form p.inline.year span.hint {
    margin-right: 38.5em;
    margin-top: -2.4em;
}
*/

input,
select, 
#content form p {
    margin-bottom: 1em;
}

/* This div starts off hidden in case Javascript is disabled. Javascript will show it. */
#addNewLink {
    display: none;
}

option {
    padding: 0 2px;
}

#content form .hint {
    color: #9c9c9c;
    font-weight: normal;
}

#content form .requiredHint {
    color: #ff7700;
    font-weight: normal;
}

#content form #requiredLegend {
    font-style: italic;
}