/* $This file is distributed under the terms of the license in /doc/license.txt$ */


/******************* mb863: willma styles ********************************/

label{
    display: block; 
    margin-top: .5em; 
}
input{
    padding:0;
}


