/* $This file is distributed under the terms of the license in /doc/license.txt$ */
input[type="text"], 
input[type="password"]{
    border: 0;
    font-size: 14px;
    padding: .5em;
    background: #fff;
    border: 1px solid #e0dfdf;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 0.8em;
}
label{
    margin-top: .5em;
}
input#submit, 
input#submit:visited{
    background: #222 url(../images/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 18px 7px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: relative;
    border: 0;
    margin: 0;
    background-color: #749a02;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin-right: .6em;
    margin-top: .5em;
}
input#delete,
input#delete:visited{
    background: #222 url(../images/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 18px 7px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: relative;
    cursor: pointer;
    border: 0;
    margin: 0;
    background-color: #398aac;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin-right: .6em;
}
input#submit:hover{
    color: #fff;
    background-color: #b2d15a;
}
input#delete:hover{
    color: #fff;
    background-color: #93c3d4;
}
input#delete:active,
input#submit:active{
    top: 1px;
}
form textarea {
    border: 1px solid #e0dfdf; 
    border-radius: 4px; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; 
}
.maxWidth{
    margin-top: 20px;
    width: 100%;
}
form a:link.cancel, form a:visited.cancel {
    text-decoration: underline;
    color: #f70;
    border-color: none;
    padding-left: 3px;
}
form a:hover.cancel, form a:active.cancel {
    text-decoration: none;
    color: #f70;
    background: none;
}
.validationError {
    font-weight: normal;
    color: #cc0000;
    margin-bottom: .3em;
}
p.submit {
  margin-top: 0;
  padding-top: 0;
}
.editingForm table {
    border-color: #dfe6e6;
}
.editingForm td{
    padding: 3px;
}
.editingForm .entryFormHead {
    background-color: #f1f2ee;
    border-color: #dfe6e6;
}
.editingForm .entryFormHead h2{
    color: #5F6464;
}
.form-item {
    margin-top:.3em;
    background-color: #fff;
    border-color: #e0dfdf;
    font-size: .8em;
    border-width: 1px;
    color: #595B5B;
    padding: .3em;
}
.navlinkblock {
    color: #5F6464;
}
.header {
    color: #5F6464;
}
.database_header {
    background-color: #f1f2ee;
    color: #2485ae;
    font-size: 1em;
}
.database_upperleftcorner {
    color: #5F6464;
    font-size: 1em;
}
.database_upperleftcenter {
    background-color: #B0C4DE;
    color: #5F6464;
    font-size: 1em;
}
.rownumheader {
    background-color: #F1F2EE;
    color: #5F6464;
    font-size: 1em;
}
.headercenter {
    color:  #5F6464;
    font-size: 10pt;
    font-style: normal;
    text-align: center;
}
.postheader {
    background-color: #E6E6FA;
    color: #777;
    font-size: 1em;
}
.database_postheader {
    background-color: #f7f9f9;
    font-size: 1em;
}
.postheadercenter {
    font-size: 1em;
}
.postheaderright {
    font-size: 1em;
}
.verticalfieldlabel {
    color: #5F6464;
    font-size: .8em;
}
.row, .rowvert {
    background-color: #f7f9f9;
    color: #5F6464;
    font-size: 10pt;
    font-style: normal;
    text-align: left;
    line-height: 2em;
}
.rowalternate {
    background-color: #fff;
    color: #5F6464;
    font-size: 1em;
    line-height: 2em;
}
.rowbold {
    background-color: #FFFAFA;
    color: #5F6464;
    font-size: 1em;
}
.rownum {
    background-color: #F1F2EE;
    color: #5F6464;
    font-size: 1em;
}
.form-background {
    background-color: #fff;
}
.formsEdit p{
    /*padding-top: 1em;*/
    margin-bottom: 1.8em;
    padding-bottom: 0;
    margin-top: 0;
}
.formsEdit p.validationError{
    margin-bottom: 1.8em;
    margin-top: 0;
    padding-top: 0;
    font-size: .8em;
}
form.deleteForm{
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px dotted #e3e9e9;
}
form h3.delete-entry{
    padding-right: .8em;
    display: inline;
}
form h2{
    margin-bottom: 0;
    padding-bottom: 0;
}
form select{
   border: 0;
   font-size: 14px;
   padding: .5em;
   background: #fff;
   border: 1px solid #e0dfdf;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   margin-bottom: 0.8em;
   margin-top: .7em;
   margin-right: .5em;
}
.notice{ 
    margin-top: 1em; 
    border: 1px dotted #FFD324;
}
a.ingestMenu:link, a.ingestMenu:visited{
    text-decoration: none;
    color: #5E6363;
}
a.ingestMenu:hover, a.ingestMenu:active{
    text-decoration: none;
    color: #2485AE;
}