/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* Fix for homepage in IE6 browsers */
body {
    background-color: #f3f3f0;
    background-image: url(../images/header-background.jpg); 
}
#search-field {
    background-image: url("../images/search-interior-pages.gif");
    height: 35px;
    width: 392px;
}
#search-home-field  input.search {
    padding-left: 14px;
}
/* Fix for Visualization: Co-author and Co-investigator network pages */
#ego_profile,
.sub_headings,
#sparkline-container,
.toggle_visualization{
    position: relative;
}
.easy-deselect-label a.temporal-vis-url {
    margin-top: -15px;
}
#grant-count-sparkline-include {
    width: 48%;
}
#coinvestigator-count-sparkline-include {
    width: 48%;
    clear: left;
}
#publication-count-sparkline-include {
    width: 48%;
}
#coauthor-count-sparkline-include {
    width: 48%;
    clear: left;
}