/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* Fix for homepage in IE6 browsers */
body {
    background-position: center, 0;
    background-repeat: no-repeat;
    background-color: #f3f3f0;
    background-image: url(../images/header-background.jpg); 
}
#intro h2 { 
    margin-left: 24px; 
}
#intro p { 
    margin-left: 24px; 
}
#search-home h3 { 
    margin-left: 0; 
}
#search-field {
    background-image: url("../images/search-interior-pages.gif");
    height: 35px;
    width: 392px;
}
#search-field input.search {
    padding-left: 14px;
}
#search-home-field  input.search {
    padding-left: 14px;
}
#login {
    margin-right: 0;
}
ul#browse-classgroups { 
    margin-left: 20px; 
}
#browse-classes { 
    width: 620px;
}
ul#classes-in-classgroup.vis {
    width: 40%;
}
#login-form p.submit {
    margin-left: 15px;
}
ul#browse-classgroups a.selected {
    background-position-x: 0;
    background-position-y: 12px;
}
/* Fix for menupages */
ul#vgraph-classes {
    float: left;
    width: 265px;
    margin-left: 15px;
}
#browse-by {
    padding-bottom: 20px;
}
ul#browse-classes {
    width: 290px;
    margin-left: 0;
    padding-left: 10px;
    margin-left: 15px;
}
#individuals-in-class { 
    width: 450px; 
}
article.foaf-person {
    width: 400px;
    margin-left:10px;
    margin-right: 10px;
    padding: 0;
    margin-bottom: 10px;
}
#profile-photo-display { 
    width: 620px;
}
#browse-classes {
    width: 590px;
}
ul#classgroup-list.vis {
    width: 38%;
}
.pagination li {
    display: block;
    float: left;
}
.pagination h3 {
    float: left;
}
.pagination ul {
    display: block;
    float: left;
}
/* Fix for site admin: the wonders of the IE float model...
fix to maintain sanity in rendering sections of site admin targets IE7 and below */
#adminDashboard .pageBodyGroup {
  *float: none !important;
  *display: inline !important;
  *vertical-align: top !important;
}
/* Fix for individual pages */
#individual-intro.person {
    width: 100%;
}
.sparkline_text, 
.collaboratorship-link-container {
    width: 148px;
}
#individual-intro.person #individual-info {
    width: 72%;
}
/* Fix for dropdown user menu */
ul.dropdown {
    z-index: 9999;
}
/* Fix for menupages */
nav#alpha-browse-container {
    width: 542px;
}
ul#alpha-browse-individuals {
    width: 540px;
}
ul#alpha-browse-individuals a {
    height: 30px;
    margin-left: 0;
    padding-left: 6px;
    width: 8px;
}
#individuals-in-class {
    width: 545px;
}
#individual-intro.person .individual-overview {
    clear: left;
}
#find-by {
    width: 445px;
}
/* Fix for photo upload */
#photoUploadForm input.submit, 
#photoUploadForm input.submit:visited,
#cropImage input.submit,
#cropImage input.submit:visited {
    padding: 5px 5px 7px;
    margin-left: -8px;
}
#photoUploadForm span.or,
#cropImage span.or {
    display: block;
    float: left;
    padding-top: 10px;
}
/* Fix position for input type submit buttons */
input.submit, 
input.submit:visited,
input#submit, 
input#submit:visited {
    display: block;
    float: left;
    clear: both;
    margin-left: 0;
}
/* Fix position for "Required fields" text */
form.customForm #requiredLegend {
    clear: both;
}
/* Fix for Visualization: Co-author and Co-investigator network pages */
#ego_profile,
.sub_headings,
#sparkline-container,
.toggle_visualization{
    position: relative;
}
.easy-deselect-label a.temporal-vis-url {
    margin-top: -15px;
}
#grant-count-sparkline-include {
    width: 48%;
}
#coinvestigator-count-sparkline-include {
    width: 48%;
    clear: left;
}
#publication-count-sparkline-include {
    width: 48%;
}
#coauthor-count-sparkline-include {
    width: 48%;
    clear: left;
}
/* Fix for verbose mode */
#verbose-mode {
    float: left;
    clear: left;
    margin-top: -14px;
}
.verbose-toggle {
    top: 12px;
}
#admin .uri-link {
    padding-top: 5px;
}