/* $This file is distributed under the terms of the license in /doc/license.txt$ */
/* Fix for homepage */
#search-field .submit {
    padding-left: 14px;
}
#search-home-field  input.submit {
    padding-left: 14px;
}
#login-form p.submit {
    margin-left: 20px;
}