/* $This file is distributed under the terms of the license in /doc/license.txt$ */
/* Fix for homepage */
#search-field .submit {
    padding-left: 14px;
}
#search-home-field  input.submit {
    padding-left: 14px;
}
#login-form p.submit {
    margin-left: 20px;
}
/* Fix for site admin */
/* the wonders of the IE float model...fix to maintain sanity in rendering sections of site admin */
/* targets IE7 and below */
#adminDashboard .pageBodyGroup {
  *float: none !important;
  *display: inline !important;
  *vertical-align: top !important;
}
/* Fix for photo upload */
input#submit, 
input#submit:visited{
    padding: 5px 5px 7px;
    margin-left: -17px;
}
/* Fix individual pages */
#share-contact {
    width: auto;
}