/* $This file is distributed under the terms of the license in /doc/license.txt$ */

@charset "UTF-8";
/* CSS Document */

/* ADMIN PANEL------>  */
div.panelContents{
  background: #efebe6;
}
div.top{
  top: 0;
  background: #efebe6;
}
.admin h3{
  color: #fff;
  background: #2485AE;
}
/* <------ INDIVIDUAL INTRO FOR ANY CLASS*/
#individual-intro h1{
    font-size: 1.375em; 
    color: #2485ae; 
}
#individual-intro span.preferred-title{
    font-size: 1.125em;
    color: #5e6363;
    border-left: 1px solid #5e6363;
}
/* <------ INDIVIDUAL INTRO FOR PERSON*/
#individual-intro-person{
    width: 700px;
    border-right: 1px solid #edf0ed;
}
/* <------ INDIVIDUAL INTRO LEFT CONTENT */
#left-side img.individual-photo2{
    border: 7px solid #ebebeb;
}
ul#individual-tools-people{
    border-bottom: 1px solid #e8ece9;
    color: #b2d15a;
}
ul#individual-tools-people li a{
    color: #b2d15a;  
}
ul#individual-tools{
    color: #8AA149
}
ul#individual-tools li a{
    color: #b2d15a; 
}
.picto-email{
    color: #aeb1b1;
}
#left-side a.email{
    color: #5f6464;
}
#left-side a.tel{
    color: #5f6464;
}
ul#individual-urls{
    list-style: url(../../../images/individual/arrow-grey.gif);
}
ul#individual-urls li{
    font-size: .875em;
    line-height: 1.2em;
}
ul#individual-urls li a{
    color: #2485ae;
}
ul#individual-urls-people{
    list-style: url(../../../images/individual/arrow-grey.gif);
}
ul#individual-urls-people li a{
    color: #2485ae;
}
/* <------ INDIVIDUAL RIGHT CONTENT */
#individual-info{
    width: 425px;
    color: #5e6363;
}
#individual-info h1.fn{
    font-size: 1.375em;
    color: #2485ae;
}
h1.fn .preferred-title {
    font-size: 1.125em;
    color: #5e6363;
    border-left: 1px solid #a6b1b0;
}
#individual-info h2{
    font-size: 1.125em;
    font-weight: normal;
}
ul#individual-positions{
    font-size: 1em;
    list-style: url(../../../images/individual/arrow-green.gif);
}
ul#individual-positions li{
    line-height: 1.2em;
}
ul#individual-positions li a{
    color: #2485ae;
}
.individual-overview{
    font-size: 1em;
}
ul#individual-areas{
    padding-bottom: 24px;
}
ul#individual-areas li{
    border-right: 1px solid red;
}
ul#individual-areas li:first-child{
    padding-left: 0;
}
ul#individual-areas li: last-child{
    border-right: none;
}
ul#individual-areas li{
    border-right: 1px solid #5e6363;
}
ul#individual-areas li a{
    color: #2485ae;
}
/* <------ INDIVIDUAL VISUALIZATION */
#publications-visualization{
    margin-top: 35px;
    float: right;
    width: 226px;
}
/* <------ SPARKLINES  */
#sparklines-publications{
    width: 184px;
    padding: 0 20px 45px 20px;
}
#sparklines-publications h3{
    font-size: 1.25em;
    color: #2485ae;
}
.publication-year-range{
    font-size: .875em;
}
a.all-vivo-publications{
    font-size: .875em;
    color: #5e6363;
}
/* <------ COAUTHORS */
img.co-author{
    border: 2px solid #ebebeb;
}
#co-authors h3{
    font-size: 1.25em;
    color: #2485ae;
}
p.view-all-coauthors{
    font-size: .875em;
}
/* PROPERTY GROUP MENU------>  */
#property-group-menus{
    width: 920px;
    background: #f1f2ee;
}
#property-group-menus ul{
    color: #5e6363;
    font-size: 1em;
}
#property-group-menus li{
    background: url(../../../images/individual/separator-property-group-nav.jpg) right 10px no-repeat;
}
#property-group-menus a{
    color: #5e6363;
}
#property-group-menus a:hover{
    color: #002b44;
}
#property-group-menus li:last-child{
    background: none;
}
/* PROPERTY GROUP------>  */
.property-group{
    width: 920px;
    background: #fff;
}
section.property-group h2{
    font-size: 1.25em;
    color: #2485ae;
    font-weight: normal;
    /*background:url(../../../images/individual/arrow-down.gif) 120px 24px no-repeat;*/
}
article.property{
    width: 852px;
}
article.property h3{
    background: #fafaf9;
    font-size: 1.063em;
    color: #8aa149;
}
article.property .data-property-statement{
    background: #fff;
    font-size: 1em;
    color: #5e6363;
}
article.property ul.property-list{
    font-size: 1em;
    color: #5e6363;
}
article.property ul.property-list li a{
    color: #2485ae;
}
/* MISCELLANEOUS------>  */
.blue{
    color: #2485ae; 
}
.grey{
    color: #5e6363;
}
.green{
    color: #b2d15a;
}
