/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/* CSS Document 
CSS reste by Eric Meyer:
The goal of a reset stylesheet is to reduce browser inconsistencies in things like default line heights, margins and font sizes of headings, and so on...  http://meyerweb.com/eric/tools/css/reset/
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    color: #595b5b;
    font-weight: normal;
}
body {    
    line-height: 1.5em;
}
ol,
ul {
    list-style: none;
    font-weight: normal;
}
blockquote,
q {    
    quotes: none; 
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
/* remember to define focus styles! */
:focus {    
    outline: 0; 
}
/* remember to highlight inserts somehow! */
ins {    
    text-decoration: none; 
}
del {    
    text-decoration: line-through; 
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* New ones added to the default list */
a {    
    text-decoration: none; 
}
fieldset {    
    border-style: none; 
}
legend {    
    display: none; 
}