/* $This file is distributed under the terms of the license in /doc/license.txt$ */

/****************************************
****************************************
  __  __   __  __  __    ___   
 /\ \/\ \\/\ \/\ \/\ \  / __`\ 
 \ \ \_/ |\ \ \ \ \_/ |/\ \L\ \
  \ \___/  \ \_\ \___/ \ \____/
   \/__/    \/_/\/__/   \/___/
 
               
VIVO wilma theme: screen styles
 
 Original version
 2010-09-04 UI team
 
 Last updated
 2010-10-28
 
*****************************************
*****************************************/

/* This is our holdover vivo-basic theme file used for transition to wilma theme. This is temporary and it will be removed.*/
@import url("transition/holdover-vivobasic/screen.css");

@import url("reset.css");
@import url("pictos.css");
@import url("wilma.css");
@import url("forms.css");
@import url("formedit.css");

@import url("../../../css/menupage/menupage.css"); /* we need to call it from the theme until freemarker controller and menupage.ftl are created */