/* $This file is distributed under the terms of the license in /doc/license.txt$ */
/* styles for uploading a picture */
#photoUploadContainer {
    margin-left: 0px;
    height: 280px;
    background: #fff;
    padding: 15px;
}
#photoUploadDefaultImageContainer {
    width: 120px;
    float: left;
}
#photoUploadDefaultImageContainer img {
    border: 3px solid #ccc;
    margin-bottom: 10px;
}
#photoUploadForm {
    width: 280px;
    float: left;
    padding-top: 45px;
    padding-left: 15px;
}
#photoUploadForm form label {
    display: block;
    padding-bottom: 10px;
}
#photoUploadForm  label span {    
    font-size: 0.7em;
}
#photoUploadForm form input {    
    margin-bottom: 10px;
}
/* styles for cropping a picture */
#photoCroppingContainer {
    margin-left: 0px;
    height: 450px;
    background: #fff;
    padding: 15px 0 15px 15px;
    margin-right: 0;
}
#photoCroppingPreview {
    width: 180px;
    float: left;
}
.photoCroppingNote {
    margin-top: 15px;
    font-size: 0.8em;
}
#photoCropping {
    width: 400px;
    float: left;
    padding-top: 30px;
    padding-left: 15px;
    margin-left: 0;
    margin-right: 0;
}
/* styles for deleting a picture */
#photoDeletingContainer {
    margin-left: 0px;
    width: 720px;
    height: 330px;
    background: #fff;
    border: 1px solid #bdbcbc;
    padding: 15px;
}
/* styles for error alerts */
#error-alert {
    color: #900;
    padding: 0px;
    margin-bottom: 5px;
    height: 30px;
}
#error-alert img {
    float: left;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
#error-alert  p {
    padding-left: 35px;
    font-size: 0.9em;
    line-height: 30px;
}
a.cancelUpload:link,
a.cancelUpload:visited {    
    color: #FF7700;
}
a.cancelUpload:hover {
    color: #FFF;
    background-color: #FF7700;
}
a.cancelUpload:active {    
    color: #FF7700;
}
.or {
    display: inline;
    vertical-align: middle;
}