/* $This file is distributed under the terms of the license in /doc/license.txt$ */
.spacer{
	font-size:0; line-height:0; clear:both;}


/* ----------------- body start --------------------------- */
#body{
	max-width:900px;
	min-width:800px; 
	margin:0 auto; 
	position:relative;
	background: white;
}
#bodyPannel{
	background: #FFFFFF;	
/*	width:765px;
	float:left;*/
	/*padding-top: 0;
	padding-right: 28px;
	padding-bottom: 0;*/
	padding-left: 16px;
	height: 840px;
}

#dataPanel {
	margin-top: 50px;
	width: 25%;	
	background-color: #f7f9f9;
/*	height: 80%; */
	padding-left: 10px;
	padding-bottom: 30px;
}

#dataPanel div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#dataPanel .italicize {
	font-style: italic;
}
#dataPanel .bold {
	font-weight: bold;
	color:#13968c;
	font-size: 14px;
}
#dataPanel .author_stats .numbers {
	text-align: right;
	width: 40px;
	float:left;
}

/* container override from liquid.css */
.container {
 	width: inherit; 
}

#incomplete-data{
	width: 75%;
	margin : auto;
	line-height: 150%;
	color: #595b5b;
}

.fileDownloadPlaceHolder{
	margin-left: 20px;
}

#profileTitle{
	
	padding: 10px;
	padding-left: 5%;
	background-color: #2A2A2A;
	color: white;
	width: 50%;
	margin-left: -10px;
	margin-top: -10px;
}

#table_heading{
/*	margin-bottom:20px; */
	width: 80%;	
}
